*{margin:0;
 padding:0px;
 box-sizing:border-box;}
 
.header{
		top:0;
		left:0;
		right:0;
		background:rgb(0,131,116);
		padding:0 10%;
		display:flex;
		align-items:center;
		justify-content:space-between;
		z-index:1000;}
		
.logo{font-size:25px;
	  color:white;
	  font-weight:700;}
	  
.logo-span{color:orange;
			font-size:30px;}	  

.navigation ul{list-style-type:none;}

.header .navigation ul li{float:left;
						 position:relative;}

.header .navigation ul li a{font-size:20px;
						  color:rgb(113,201,199);
						  text-decoration:none;
						  padding:20px;
						  display:block;
						  transition:all .2s ease;
						  }	  
						  
.header .navigation ul li a:hover{color:white;
								  }		

.header .navigation ul li ul{position:absolute;
							 right:0;
							 width:300px;
							 background:rgb(0,131,116);
							 display:none;}	

.header .navigation ul li ul li a{font-size:15px;
								 text-transform:capitalize;
								 }


.header .navigation ul li ul li ul{position:absolute;
								   top:0;
								   right:300px;
								   }	

.header .navigation ul li ul li{width:100%;
								border:1px solid rgb(113,201,199);}	

.header .navigation ul li:hover > ul{display:block;}		

#toggle,.header label{display:none}

.menu{font-size:40px;}	


	/* banner-section */

#banner{background-color:rgb(0,131,116);
		}

.banner-col1 h1{padding:20% 0 0 10%;
				font-size:45px;
				color:white;}

.banner-para{padding:20px 0 0 0;
				color:white;
				width:90%;}
				


.icon1 button{color:white;
			  border-radius:20px 20px 20px 20px;
			  background-color:rgb(26,144,130);
			  border:2px solid #6abaa7;
}
.banner-card{width:100%;}	

.icon1 i{
		color:rgb(153,209,203);
		font-size:20px;}
.icon1 span{color:white;
			padding-left:10px;}	
	

.divi{
	  background-color:#33a187;
	  margin:10px;
	  text-align:center;
	  border-radius:10px;}			
	  
	

.divi i{padding:60px 60px;
		font-size:40px;
		color:rgb(153,209,203);}

.divi h2{padding-bottom:70px;
		color:white;}
				